.vault-shortcuts-vault-list {
  display: block;
  width: 100%;
  height: auto;
  min-height: 10em;
  margin-bottom: var(--size-4-2);
}

.vault-shortcuts-tag-list {
  appearance: auto;
  background-image: none;
  transition: none;
  display: block;
  width: 100%;
  height: 10em;
  max-height: 40vh;
  overflow-y: auto;
  margin-bottom: var(--size-4-2);
}
